<div class="container">
  <nav class="navbar navbar-expand-lg bg-black">
    <img src="../image/icons/logo-nome.svg" alt="Logo OutPlay" class="logo-nome">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../image/icons/more-vertical.png" alt="" srcset="">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav nav-tabs ml-auto d-flex align-items-center justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">{{textos.navbar.label01}}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#sobre" role="tab" aria-controls="profile"
            aria-selected="false">{{textos.navbar.label02}}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact"
            aria-selected="false">{{textos.navbar.label03}}</a>
        </li>

        <div class="menuSocial d-flex justify-content-center">
          <div class="row">
            <a class="nav-link pr-1 d-flex justify-content-center align-items-center"
              href="https://instagram.com/outplaycompany?igshid=1i5skdmpbw4av" target="_blank"><img class="redesSociais"
                src="../image/icons/instagram.svg" alt=""></a>
            <a class="nav-link p-0 m1-3 d-flex justify-content-center align-items-center"
              href="https://www.facebook.com/Outplay-Co-102515031469455/" target="_blank"><img class="redesSociais"
                src="../image/icons/facebook.svg" alt=""></a>

            <a class="nav-link pl-1 d-flex justify-content-center align-items-center"
              href="https://twitter.com/OutplayCo" target="_blank"><img class="redesSociais"
                src="../image/icons/twitter.svg" alt=""></a>
          </div>
        </div>


      </ul>



    </div>
  </nav>
</div>