<div class="row bg-black-escuro m-0 w-100">
    <div class="container">
        <p class="m-0 py-3">Copyright &#169; 2020 <strong>Outplay Company</strong>. {{textos.rodape.label01}} <strong> <a href="http://www.agenciamobi.com/" target="_blank">Agência Mobi</a></strong>.</p>
    </div>
</div>
