<div class="row m-0 w-100 " id="sobre-row-01">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 d-flex align-items-center justify-content-center textos-esquerda">
                <div class="mb-5">
                    <h1 class="text-white col-12 mb-3">
                        {{textos.sobre.label04}}
                    </h1>
                    <h4 class="text-white col-12 peso-leve mb-5">
                        {{textos.sobre.label03}}
                    </h4>

                    <h1 class="text-white col-12 mt-5">
                        {{textos.sobre.label01}}
                    </h1>
                    <h4 class="text-white col-12 peso-leve">
                        {{textos.sobre.label02}}
                    </h4>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center diamante">
                <img src="../image/icons/logo-icon-outline.svg" class="w-100" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

<div class="row m-0 my-5 w-100 " id="home-row-05">
    <div class="container">
        <div class="row">
            {{>_form}}
        </div>
    </div>
</div>
{{>_rodape}}