{{>_navbar}}

<div class="tab-content" id="paginas">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    {{>_home}}
  </div>
  <div class="tab-pane fade" id="sobre" role="tabpanel" aria-labelledby="profile-tab">
    {{>_sobre}}
  </div>
  <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contact-tab">
    {{>_contato}}
  </div>
</div>

<script>
  function enviar() {
    if ($('#mensagem').val() == '' || $('#nome').val() == '' || $('#email').val() == '') {
      alert('Preencha todos os campos')
      return false
    } else {
      axios({
        method: 'POST',
        url: '/enviarEmail',
        data: {
          mensagem: $('#mensagem').val(),
          nome: $('#nome').val(),
          email: $('#email').val()
        }
      }).then(resposta => {
        if(resposta.data == 'sucesso'){
          alert("Sua mensagem foi enviada com sucesso")
        }else{
          alert('Erro ao enviar sua mensagem')
        }
      }).catch(() => {
        alert("Erro ao enviar sua mensagem, tente novamente mais tarde")
      })
    }
  }
</script>